/* .App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	width: 70%;
	margin: auto;
	height: 80%;
	border-radius: 20px;
	position: relative;
	top: 2rem;
} */
