/* card css style */
.card {
	width: 50%;
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	/* margin: 5px; */
	border: 1px solid black;
	border-radius: 5px;
	background-color: azure;
}

.card button {
	background-color: orangered;
}

.card button:hover {
	background-color: orange;
}
